<header>
        <nav class="navbar creation-navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand nav-title" href="#"><h1><i>Comic Case</i></h1></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/feed">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-sm-auto bg-dark sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top py-3 m-2">
                    <h2>Welcome!</h2>
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row mb-auto mx-auto text-center align-items-center">
                        <li class="nav-item">
                        </li>
                            <h4>{{firstname}}</h4>
                        <li>
                            <p>{{location}}</p>
                        </li>
                        <li>
                            <p>{{acctcreatedate}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm p-3 min-vh-100 justify-content-center align-items-center">
                <div class="create-box w-50 mx-auto col-sm-4 col-md-6 col-lg-8 m-3">
                    <form id="search-form">
                        <h2>Let's create your first case! </h2>
                            <div class="user-box">
                                <input  id="namesearch" type="text" name="q" placeholder="">
                                <label>Comic Name</label>
                            </div>
                            <div class="user-box ">
                                <input  id="issuesearch" type="text" name="q" placeholder="">
                                <label>issue number</label>
                            </div>
                            <a href="/profile" id="search-submit">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <input type="submit">
                            </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<script src="/js/logout.js"></script>
<script src="/js/search.js"></script>