{{!-- initial landing page "homepage" --}}
<header>
        <nav class="navbar bg-dark">
            <span class="navbar-text font-weight-bolder">
                Comic Case
            </span>
        </nav>
    </header>
{{!-- forms for sign up and login. a/span div with animation as the submit button --}}
    <div class="container p-5">
        <div class="row justify-content-center"> 
            <div class="col-12 col-md-4 m-1" id="login-box">
                <form id="login-form">
                    <h2>Login</h2>
                    <div class="user-box">
                        <input  id="email-login" type="text" name="" required="">
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <input id="password-login" type="password" name="" required="">
                        <label>Password</label>
                    </div>
                    <a type="button" id="login-Submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="submit">
                    </a>
                </form>
            </div>
            <div class="col-12 col-md-4 m-1" id="signup-box">
                <form id="signup-form">
                    <h2>SignUp</h2>
                    <div class="user-box">
                        <input id="firstname-signup" type="text" name="" required="">
                        <label>First Name</label>
                    </div>
                    <div class="user-box">
                        <input id="lastname-signup" type="text" name="" required="">
                        <label>Last Name</label>
                    </div>
                    <div class="user-box">
                        <input id="email-signup" type="email" name="" required="">
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <input id="location-signup" type="text" name="" required="">
                        <label>Location</label>
                    </div>
                    <div class="user-box">
                        <input id="password-signup" type="password" name="" required="">
                        <label>Password</label>
                    </div>
                    <a id="signUp-submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="submit">
                    </a>
                </form>
            </div>
        </div>
    </div>

    <footer class="bg-dark py-3 footer fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Follow us on:</h4>
                    <a href="https://github.com/Thedanbrown/Comic-Case" target="_blank" class="mr-3"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script  src="/js/login.js"></script>
