:root {
    --green: #3f9f44;
    --red: #e43d1d;
    --blue: #217fbe;
    --yelow: #f7db51;
}

html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: "Bangers";
    background-color: black;
    background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url("../img/sinister-war-1.webp");
    background-repeat: repeat;
    background-size: contain;
    
}

.navbar {
    border-bottom: 2px solid var(--green);
}

.navbar h2 {
    margin-left: 12rem;
    margin-right: 1rem;
    color: var(--green);
}
.sidebar {
    border-right: 2px solid var(--green);
    color: var(--green);
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.card-size {
    max-width: 397px;
    max-height: 431px;
}
.content {
    margin: 10px;
    margin-left: 150px;
    padding: 1px 16px;
    /* height: 1000px; */
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer {
    border-top: 2px solid var(--green);
}

.navbar-text {
    font-size: 1.75rem;
    color: var(--green);
}

.card {
    background: rgba(0,0,0,.7);
    border: 2px solid var(--green);
    box-shadow: 0 10px 10px var(--red);
    color: var(--blue);
}

.cardImage {
    border-bottom: 2px solid var(--green);
}

.footer-text {
    font-size: .75rem;
    color: var(--green)
}

  /* On screens that are less than 727px wide, make the sidebar into a topbar */
@media screen and (max-width: 727px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
